/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.layout {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}

.box1 {
  width: 50%;
  background-color: aliceblue;
  height: 100%;
  display: flex;
  align-items: center;
}

.box2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 100%;
  background-color: #3c3c3c;
}

.menus {
  width: 75%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}

.menus li {
  margin: 0px 15px;
}

.menus__list {
  display: flex;
  align-items: center;
}

.menus__hamburger {
  display: none;
}

.menus__close {
  display: none;
}
@media only screen and (max-width: 768px) {
  .box1 {
    visibility: hidden;
    background-color: aliceblue;
    width: 0px;
  }
  .box2 {
    width: 100%;
  }

  .menus {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: aliceblue;
    transition: all 0.6s;
    flex-direction: column;
    border: 1px solid blue;
    justify-content: flex-start;
    padding: 15px 10px;
    z-index: 100000;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
  .show_menu {
    right: 0;
  }

  .menus__list {
    flex-direction: column;
    /* border: 1px solid red; */
    margin-top: 30px;
    align-items: flex-start;
    height: 50%;
    padding: 0px;
  }

  .menus__list li {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .menus__hamburger {
    display: block;
  }

  .menus__close {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
    /* margin-right: 10; */
  }
}
